
<script defer ype="application/javascript" src="/app/vendor/swiper/swiper.min.js"></script>
<script defer ype="application/javascript" src="/app/js/main.js"></script>
<script defer src="https://kit.fontawesome.com/da70ea6326.js" crossorigin="anonymous"></script>