{% extends "../templates/_layout.njk" %}
{% import '../templates/parts/header/_header.njk' as header %} -->

{% set pageId=-1 %}
{% set artID=0 %}

{% block head %}
	<title>{{ news.list[artID].shortTitle }}Tech Times | {{ siteTitle }}</title>
	<meta name="keywords" content="">
	<meta name="description" content="To create a automated toolkit is a corner stone to every developers toolkit. After 5 years, heres whats been put together">
{% endblock %}

{% block body %}grid grid-row-main grid-col-main grid-aside{% endblock %}

{% block header %}
{{ header.renderHeader(pageId, headerEl, pages) }}
{% endblock %}

{% block content %}
<article class="news-article">
	<header class="mt-5 pt-3">
		<h1>{{ news.list[artID].shortTitle }}</h1>
		<h3>Web Development</h3>
	</header>
	<section class="news-article-content">
		{% for item in news.list[artID].content %}
			{{ item | safe }}
		{% endfor %}
	</section>
	<footer class="news-article-footer my-4">
		<h5><small>author:</small>{{ news.list[artID].author }}</h5>
		<div class="social-share contianer-flex mt-5">
			<h5>Share on social media:</h5>
			<ul class="flex-row social-share-list list-reset">
				<li class="social-share-item py-3">
					<b><a href="https://www.linkedin.com/sharing/share-offsite/?url=https://ecdusty.github.com{{ news.linkBase}}{{ news.list[artID].url }}">Linkedin</a></b>
				</li>
				<li class="social-share-item py-3">
					<b><a href="https://twitter.com/intent/tweet?text={{ news.list[artID].title }},%20unlikely%20IT&url=https://ecdusty.github.com{{ news.linkBase}}{{ news.list[artID].url }}">Twitter</a></b>
				</li>
				<li class="social-share-item py-3">
					<b><a href="https://www.facebook.com/sharer/sharer.php?u=https://ecdusty.github.com{{ news.linkBase}}{{ news.list[artID].url }}" rel="nofollow noopenner noreferrer">Facebook</a></b>
				</li>
			</ul>
		</div>
	</footer>
</article>
{% endblock %}

{% block aside %}
<aside class="aside">
	<div class="aside-content">
		<h3 class="mb-3">Related Tech</h3>
		<div class="aside-favorites row flex-row">
			{{ card.renderCard(news, false, false, true, true) }}
		</div>
	</div>
</aside>
{% endblock %}