/*!
 * BASE TEMPLATE Styles
 * Here you'll find all the styles for the base
 * level content that makes up the website.
 */

* {
	box-sizing: border-box;
}

body.homepage {
	.Header-branding {
		display: none;
	}
}

body {
	.Site {
		overflow: hidden;
	}
}
