/*!
 * Image styles
 *
 */


/*!
 *
 * Image Block Styles
 *
 */

 .image-block-v2 {
	&.design-layout-collage {
		.image-card-wrapper {
			.image-card {
				border: 3px solid $teal;
				box-shadow: -7px 7px $dark-orange;
				border-radius: 5px;

				.image-subtitle {
					font-size: initial !important;
				}
			}
		}
	}
 }
