/*!
 * Image styles
 *
 */


/*!
 *
 * Image Block Styles
 *
 */

 .image-block-v2 {
	&.design-layout-collage {
		.image-card-wrapper {
			.image-card {
				border: 3px solid $primary;
				box-shadow: -7px 7px $primary-light;
				border-radius: 5px;
			}
		}
	}
 }
