/*!
 * Image styles
 *
 */


/*!
 *
 * Image Block Styles
 *
 */

 img.lazyload[src=""] {
	 opacity: 0;
 }

img.lazyloaded, img.lazyloading {
	opacity: 1;
	transition: opacity 300ms;
}

 .image-block-v2 {
	&.design-layout-collage {
		.image-card-wrapper {
			.image-card {
				border: 3px solid $primary;
				box-shadow: -7px 7px $dark-orange;
				border-radius: 5px;

				// .image {
				// 	&-title p {
				// 		font-family: moret;
				// 		letter-spacing: 0.03em;
				// 	}

				// 	&-subtitle {
				// 		font-size: initial !important;
				// 	}
				// }

			}
		}
	}
 }
