#home {
	&-intro {
		background-color: #fff;
		min-height: 80vh !important;

		h1 {
			position: relative;
			z-index: 5;

			&.adjust-up {
				position: relative;
				z-index:5;
				top:-8px;

				@include media-breakpoint-up('sm') {
					top: -14px;
				}
			}
		}

		h3 {
			padding-right: 20%;
			position: relative;
			z-index: 5;
		}

		.Index-page-content {
			padding-top: 30px;
			padding-bottom: 30px;
		}

		.Drill {
			&__Lady {
				width: 100%;
			}

			&__Wrapper {
				display: none;
				position: relative;
				width: 120px;
			}

			&__Arm {
				position: absolute;
				transform-origin: 95% 92%;
				width: 60.5%;
				left: 0%;
				top: 38.4%;
				animation: ladyPointing 3s ease 3.2s infinite;
			}
		}

		@include floatingBackground {
			.sqs-row .sqs-col-12 {
				> * {
					position: static;
				}
			}
			.FloatImg {
				position: absolute;
				transition: all 0.25s ease;

				&__BPaper {
					bottom: 0%;
					width: 120%;
					max-width: 700px;
				}

				&__CPaper {
					top: 5%;
					right: 7%;
					max-width: 1045px;
					width:100%
				}

				&__GPaper {
					width: 100%;
					right:3%;
					max-width: 1045px;
				}

				&__LPaper {
					bottom: 0%;
					width: 120%;
					max-width: 980px;
				}

				&__SPaper {
					left: -37%;
					top: 0;
					max-width: 700px;
					width: 115%;
					max-height: 80%
				}

				&__BTape {
					top: 17%;
					right: -60px;
					max-width: 170px;
					width:30%;
				}

				&__BrTape {
					bottom: 10%;
					transform: translateX(-50%);
					left:30%;
					max-width: 232px;
					width:30%;
				}

				&__BScribble {
					right: 5%;
					bottom: 0;
					max-width: 217px;
					width: 35%;
				}

				&__Comp {
					bottom: 0;
					width: 50%;
					max-width: 478px;
					left: 35%;
				}

				&__Pens {
					right: 0;
					max-height: 50%;
					bottom: 20%
				}

				&__SScribble {
					left: 0;
					top: 14%;
					max-width: 259px;
					width:30%;
				}
			}
		}

		.Index-page-scroll-indicator {
			overflow: visible;
			left: initial;
			right: -45px;
			bottom: 6px;
			transform-origin: 80% 100%;
			transform: translatex(100%) rotate(40deg);
			animation: ladyRollIn 1.5s ease 1.7s forwards;
			&-arrow, &-text, &-line {
				display: none !important;
			}

			.Drill__Wrapper {
				display: block;
			}
		}

		@include media-breakpoint-up('sm') {
			min-height: calc(100vh - 50px);

			.Index-page-content {
				padding-top: 40px;
				padding-bottom: 40px;
			}

			.Drill {
				&__Wrapper {
					width: 170px;
				}
			}

			.Index-page-scroll-indicator {
				right: -55px;
			}

			.FloatImg {
				&__BPaper {
					right:0;
					top: 0;
					bottom: revert;
				}

				// &__CPaper {
				// }

				// &__GPaper {
				// }

				// &__LPaper {
				// }

				// &__SPaper {
				// }

				// &__BTape {
				// }

				// &__BrTape {
				// }

				// &__BScribble {
				// }

				// &__Comp {
				// }

				// &__Pens {
				// }

				// &__SScribble {
				// }
			}
		}

		@include media-breakpoint-up('md') {
			.Drill {
				&__Wrapper {
					width: 230px;
				}
			}

			.Index-page-scroll-indicator {
				right: -62px;
				bottom: 9px;
			}

			.FloatImg {
				&__BPaper {
					right: 10%;
				}

				&__CPaper {
					top: 120px;
					right: 32%;
					width: 130%;
				}

				&__GPaper {
					right: 25%;
					top: 25px;
					width: 160%;
				}

				&__LPaper {
					bottom: 5%;
					right: 20%;
				}

				// &__SPaper {
				// }

				&__BTape {
					right: 20%;
				}

				// &__BrTape {
				// }

				&__BScribble {
					bottom: 20%;
				}

				// &__Comp {
				// }

				// &__Pens {
				// }

				// &__SScribble {
				// }
			}
		}

		@include media-breakpoint-up('lg') {
			.Drill {
				&__Wrapper {
					width: 330px;
				}
			}

			.Index-page-scroll-indicator {
				right: -77px;
			}

			.FloatImg {
				&__BPaper {
					right: 7%;
				}

				&__CPaper {
					top: 100px;
					right: 25%;
				}

				&__GPaper {
					top: 10px;
					right: 30%;
				}

				&__LPaper {
					right: 12%;
					bottom: 8%;
				}

				&__SPaper {
					left: 25%;
					transform: translateX(-50%);
				}

				&__BTape {
					top:85px;
				}

				&__BrTape {
					left: revert;
					right: 490px;
					bottom: 90px;
				}

				&__BScribble {
					bottom: 5%;
				}

				&__Comp {
					left: revert;
					right: 200px;
				}

				&__Pens {
					bottom: 9%;
				}

				// &__SScribble {
				// }
			}
		}

		@include media-breakpoint-up('xl') {
			.Drill {
				&__Wrapper {
					width: 430px;
				}
			}

			.Index-page-scroll-indicator {
				right: -72px;
			}

			.FloatImg {
				&__BPaper {
					right: 4%;
					max-width: 800px;
				}

				// &__CPaper {
				// }

				// &__GPaper {
				// }

				&__LPaper {
					bottom: revert;
					top: 30px;
				}

				&__SPaper {
					left: 29%
				}

				// &__BTape {
				// }

				// &__BrTape {
				// }

				// &__BScribble {
				// }

				// &__Comp {
				// }

				// &__Pens {
				// }

				// &__SScribble {
				// }
			}
		}
	}

	&-spiel {
		h2 {
			font-size: 2em;
			text-transform: lowercase;
		}

		@include floatingBackground {
			.CustomBG {
				&__HK {
					background-size: contain;
					background-position: left top;
				}

				&__Note {
					background-size: auto 80%;
					background-position: left bottom;
				}

				&__Women {
					background-position: -50px bottom;
					background-size: 500px;
				}

				&__TornPap {
					background-position: left top;
					background-size: 250px auto;
				}

				&__ScrapPap {
					background-position: right bottom;
					background-size: 200px auto;
				}
			}
		}

		@include media-breakpoint-up('sm') {
			h2 {
				font-size: 2em;
			}

			// &__HK {
			// }
			.CustomBG {

				&__Note {
					background-size: auto 85%;
				}

				&__Women {
					background-position: left bottom;
					background-size: 600px;
				}

				// &__TornPap {
				// }

				// &__ScrapPap {
				// }
			}
		}

		// @include media-breakpoint-up('md') {
			// .CustomBG {
		// 	&__HK {}

		// 	&__Note {
		// 	}

		// 	&__Women {
		// 	}

		// 	&__TornPap {}

		// 	&__ScrapPap {}
		// }
		// }

		@include media-breakpoint-up('lg') {
			h2 {
				font-size: 2.8em;
			}

			.CustomBG {
				// &__HK {}

				&__Note {
					background-size: auto 86%;
				}

				&__Women {
					background-position: left bottom;
					background-size: 800px;
				}

				&__TornPap {
					background-size: 300px auto;
				}

				&__ScrapPap {
					background-size: 285px auto;
				}
			}
		}

		@include media-breakpoint-up('xl') {
			.CustomBG {
				&__HK {
					background-size: 50%;
					background-position: -50px bottom;
				}

				&__Note {
					background-size: auto 92%;
				}

				&__Women {
					background-position: 40% bottom;
					background-size: auto 87%;
				}

				&__TornPap {
					background-size: 30% auto;
				}

				&__ScrapPap {
					background-size: 32% auto;
				}
			}
		}
	}

	&-services {
		background-color: $mint-soft;
		position: relative;
		z-index: 3;
		overflow: visible;
		&::after {
			content: '';
			position: absolute;
			top: -9.5%;
			left: 0;
			bottom: 35px;
			right: 0;
			background-image: url('https://static1.squarespace.com/static/5eb0dff70de9a96357cc7466/t/5eb427bd1e357602a51fd271/1588864965241/Dive-in.png');
			background-repeat: no-repeat;
			background-size: auto 98%;
			background-position: bottom right;

			@include media-breakpoint-down('sm') {
				background-size: auto 88%;
				transform: translate(5%, -17%);
			}
		}

		.Index-page-content {
			position: relative;
			z-index: 2;
		}

		h2 {
			font-weight: 400;
			line-height: 1.2em;
			word-break: break-word;
			white-space: normal !important;
			hyphens: auto;
			text-transform: lowercase;
		}

		@include media-breakpoint-up('sm') {
			h2 { font-size: 2em; }
		}

		@include media-breakpoint-up('md') {
			h2 {
				line-height: 1.5em;
			}
		}

		@include media-breakpoint-up('lg') {
			background-size: auto 95%;
			h2 {
				font-size: 2.8em;
			}
		}
	}
}

@keyframes ladyPointing {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(-40deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

@keyframes ladyRollIn {
	0% {
		transform: translatex(100%) rotate(10deg);
	}

	50% {
		transform: translatex(50%) rotate(10deg);
	}

	100% {
		transform: translatex(0%) rotate(-20deg);
	}
}
