#home {
	&-intro {
		background-color: $gray-500;
		min-height: 80vh !important;

		.Index-page-content {
			padding-top: 30px;
			padding-bottom: 30px;
		}

		@include media-breakpoint-up('sm') {
			min-height: calc(100vh - 50px);

			.Index-page-content {
				padding-top: 40px;
				padding-bottom: 40px;
			}
		}
	}

	&-spiel {
		h2 {
			font-size: 2em;
		}

		@include floatingBackground {
			.CustomBG {
				&__HK {
					background-size: contain;
					background-position: left top;
				}

				&__Note {
					background-size: auto 80%;
					background-position: left bottom;
				}

				&__Women {
					background-position: -50px bottom;
					background-size: 500px;
				}

				&__TornPap {
					background-position: left top;
					background-size: 250px auto;
				}

				&__ScrapPap {
					background-position: right bottom;
					background-size: 200px auto;
				}
			}
		}

		@include media-breakpoint-up('sm') {
			h2 {
				font-size: 3em;
			}

			// &__HK {
			// }
			.CustomBG {

				&__Note {
					background-size: auto 85%;
				}

				&__Women {
					background-position: left bottom;
					background-size: 600px;
				}

				// &__TornPap {
				// }

				// &__ScrapPap {
				// }
			}
		}

		// @include media-breakpoint-up('md') {
			// .CustomBG {
		// 	&__HK {}

		// 	&__Note {
		// 	}

		// 	&__Women {
		// 	}

		// 	&__TornPap {}

		// 	&__ScrapPap {}
		// }
		// }

		@include media-breakpoint-up('lg') {
			h2 {
				font-size: 3.2em;
			}

			.CustomBG {
				// &__HK {}

				&__Note {
					background-size: auto 86%;
				}

				&__Women {
					background-position: left bottom;
					background-size: 800px;
				}

				&__TornPap {
					background-size: 300px auto;
				}

				&__ScrapPap {
					background-size: 285px auto;
				}
			}
		}

		@include media-breakpoint-up('xl') {
			.CustomBG {
				&__HK {
					background-size: 50%;
					background-position: -50px bottom;
				}

				&__Note {
					background-size: auto 92%;
				}

				&__Women {
					background-position: 40% bottom;
					background-size: auto 87%;
				}

				&__TornPap {
					background-size: 30% auto;
				}

				&__ScrapPap {
					background-size: 32% auto;
				}
			}
		}
	}

	&-services {
		background-color: $mint-soft;
		position: relative;
		z-index: 3;
		overflow: visible;
		&::after {
			content: '';
			position: absolute;
			top: -9.5%;
			left: 0;
			bottom: 35px;
			right: 0;
			background-image: url('https://static1.squarespace.com/static/5eb0dff70de9a96357cc7466/t/5eb427bd1e357602a51fd271/1588864965241/Dive-in.png');
			background-repeat: no-repeat;
			background-size: auto 98%;
			background-position: bottom right;

			@include media-breakpoint-down('sm') {
				background-size: auto 88%;
				transform: translate(5%, -17%);
			}
		}

		.Index-page-content {
			position: relative;
			z-index: 2;
		}

		h2 {
			font-weight: 400;
			letter-spacing: .02em;
			line-height: 1.2em;
			word-break: break-word;
			white-space: normal !important;
			hyphens: auto;
		}

		@include media-breakpoint-up('sm') {
			h2 { font-size: 40px; }
		}

		@include media-breakpoint-up('md') {
			h2 {
				font-size: 50px;
				line-height: 1.5em;
			}
		}

		@include media-breakpoint-up('lg') {
			background-size: auto 95%;
			h2 {
				font-size: 80px;
			}
		}
	}
}
