.Skills {
	display: flex;
	font-family: adobe-caslon-pro;
	font-weight: 800;
	font-style: normal;
	font-size: 32px;
    letter-spacing: -.00685714px;
	line-height: 1.2em;
	text-transform: none;

	// &__BG {

	// }
	@include media-breakpoint-up('sm') {
		font-size: 70px;
		letter-spacing: -.015em;
	}

	&__Header {
		padding-right: 9px;
		&::after {
			content: none;
		}

		@include media-breakpoint-up('sm') {
			padding-right: 18px;
		}
	}

	&__Wrapper {
		position: relative;
		overflow: hidden !important;
	}

	&__Item {
		position: absolute;
		top: 140%;
		white-space: nowrap;

		&--active {
			top: 0;
			transition: top 0.4s ease-out
		}
		&--deactive {
			top: -140%;
		}

		&--placeholder {
			position: relative;
			display: inline;
			top: 0;
			color: transparent;
			background: linear-gradient(0deg, transparent 18%, #ffffff 18%, #ffffff 70%, transparent 60%);
			transition: padding 0.2s ease-out;
		}
	}
}
