#intro {
	&-banner {
		overflow: visible;

		h1,
		h2,
		h3 {
			color: $headings-color;
		}

		h1 {
			font-size: 3.5em;
		}

		@include floatingBackground {
			.FloatImg {
				position: absolute;
				transition: all 0.4s ease;

				&__Dots {
					top: 0;
					bottom: 0;
					left: 0;
					width: 50%;
					background-size: cover;
					background-position: left center;
					overflow: hidden;
				}

				&__TopScribble {
					transform: translateX(-50%);
					left: 30%;
					top: 0;
					width: 150px;
				}

				&__Papers {
					bottom: 0;
					right: 0;
					transform: translateX(40%);
					height: 100%;
				}

				&__Keyboard {
					left: 0;
					top: 15%;
					transform: translateX(-45%);
					width: 50%;
					max-width: 600px;
				}

				&__SideScribble {
					transform: translate(-50%, -50%);
					top: 88%;
					right: 11%;
					min-width: 120px;
					width: 16%;
					max-width: 450px;
				}

				&__Earth {
					top: 60%;
					right: 0;
					transform: translate(20%, -50%);
					height: 65%;
				}

				&__Cloud {
					bottom: 0;
					left: 22%;
					transform: translate(-50%, 40%);
					min-width: 110px;
					width: 20%;
					max-width: 440px;
				}

				&__Mushroom {
					bottom: 0;
					left: 15%;
					transform: translateX(-50%);
					min-width: 140px;
					width: 19%;
					max-width: 540px;
				}
			}
		}

		@include media-breakpoint-up('sm') {
			h1 {
				font-size: 6em;
			}
		}
	}
}
