#intro {
	&-banner {
		overflow: visible;
		z-index: 2;

		h1,
		h2,
		h3 {
			color: $headings-color;
		}

		h1 {
			font-size: 3.5em;
		}

		@include floatingBackground {
			.FloatImg {
				position: absolute;
				transition: all 0.4s ease;

				&__Dots {
					top: 0;
					bottom: 0;
					left: 0;
					width: 60%;
					background-size: cover;
					background-position: left center;
					overflow: hidden;
				}

				&__TopScribble {
					transform: translateX(-50%);
					left: 30%;
					top: 0;
					width: 150px;
				}

				&__Papers {
					bottom: 0;
					right: 0;
					transform: translateX(20%);
					height: 100%;
				}

				&__Keyboard {
					left: 0;
					top: 15%;
					transform: translateX(-45%);
					width: 70%;
					min-width: 295px;
					max-width: 400px;
				}

				&__SideScribble {
					transform: translate(50%, -50%);
					top: 88%;
					right: 20%;
					min-width: 120px;
					width: 16%;
					max-width: 450px;
				}

				&__Earth {
					top: 50%;
					right: 0;
					transform: translate(20%, -50%);
					height: 70%;
				}

				&__Cloud {
					bottom: 0;
					left: 27%;
					transform: translate(-50%, 40%);
					min-width: 180px;
					width: 30%;
					max-width: 440px;
				}

				&__Mushroom {
					bottom: 0;
					left: 19%;
					transform: translateX(-50%);
					min-width: 140px;
					width: 39%;
					max-width: 200px;
				}
			}
		}

		@include media-breakpoint-up('sm') {
			h1 {
				font-size: 6em;
			}

			// .FloatImg {
				// &__Dots {
				// }

				// &__TopScribble {
				// }

				// &__Papers {
				// }

				// &__Keyboard {
				// }

				// &__SideScribble {
				// }

				// &__Earth {
				// }

				// &__Cloud {
				// }

				// &__Mushroom {
				// }
			// }
		}

		@include media-breakpoint-up('md') {
			h1 {
				font-size: 6em;
			}

			.FloatImg {
				// &__Dots {
				// }

				// &__TopScribble {
				// }

				// &__Papers {
				// }

				&__Keyboard {
					max-width: 500px;
				}

				// &__SideScribble {
				// }

				// &__Earth {
				// }

				// &__Cloud {
				// }

				&__Mushroom {
					max-width: 260px;
				}
			}
		}

		@include media-breakpoint-up('lg') {
			h1 {
				font-size: 6em;
			}

			.FloatImg {
				// &__Dots {
				// }

				&__TopScribble {
					width: 200px;
				}

				&__Papers {
					transform: translateX(0%);
				}

				&__Keyboard {
					max-width: 550px;
				}

				&__SideScribble {
					top: 85%;
					right: 14%;
					width: 21%;
				}

				&__Earth {
					top: 40%;
					transform: translate(15%, -50%);
					height: 85%;
				}

				// &__Cloud {
				// }

				// &__Mushroom {
				// }
			}
		}


		@include media-breakpoint-up('xl') {
			h1 {
				font-size: 6em;
			}

			.FloatImg {
				// &__Dots {
				// }

				&__TopScribble {
					width: 270px;
				}

				&__Papers {
					height: 102%;
				}

				&__Keyboard {
					transform: translateX(-40%);
					max-width: 570px;
				}

				&__SideScribble {
					transform: translate(50%, 0%);
					top: initial;
					bottom: 15px;
				}

				&__Earth {
					top: -20px;
					transform: translate(10%,0);
					height: 88%;
				}

				// &__Cloud {
				// }

				&__Mushroom {
					left: 17%;
					max-width: 300px;
				}
			}
		}
	}

	&-description {
		overflow: visible;
		position: relative;

		//Text styles setup
		.sqs-block.html-block.sqs-block-html {
			padding: 40px;

			.sqs-block-content {
				background: rgba(255,255,255,0.95);
				padding: 25px;
			}
		}


		// Background images setup

		@include floatingBackground {
			.FloatImg {
				position: absolute;
				transition: all 0.4s ease;

				&__Dots {
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background-size: cover;
					background-position: center center;
					overflow: hidden;
					background-attachment: fixed;
				}

				&__ApplePaper {
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background-repeat: no-repeat;
					background-position: right center;
					background-size: auto 85%;
					background-attachment: fixed;
				}

				&__Papers {
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background-repeat: no-repeat;
					background-position: left center;
					background-size: auto 94%;
					background-attachment: fixed;
				}

				&__Apple {
					top: 30%;
					left: 0;
					width: 15%;
					transform: translate(0, -50%);
				}

				&__Laptop {
					bottom: 0;
					width: 43%;
					left: 5%;
				}

				&__Book {
					left: 33%;
					bottom: 0;
					width: 33%;
					transform: translate(0, 30%);
				}

				&__Cloud {
					bottom: 0;
					left: 0;
					width: 40%;
					transform: translate(-25%,40%);
				}
			}
		}

		@include media-breakpoint-up('sm') {
		}

		@include media-breakpoint-up('md') {
		}

		@include media-breakpoint-up('lg') {
		}

		@include media-breakpoint-up('xl') {
		}

		@include media-breakpoint-up('xxl') {
		}
	}
}
