#our {
	&-team-banner {
		position: relative;
		z-index: 3;
		overflow: visible;

		//Text styles setup
		.sqs-block.html-block.sqs-block-html {
			padding: 40px;

			.sqs-block-content {
				background: rgba(255,255,255,0.95);
				padding: 25px;
			}
		}

		h1 {
			font-size: 3.5em;
		}

		// Background images setup
		@include floatingBackground {
			.FloatImg {
				position: absolute;
				transition: all 0.4s ease;

				&__PaperNotes {
					right: 0;
					top: 0;
					left: 0;
					bottom: 0;
					background-repeat: no-repeat;
					background-size: contain;
					background-position: right top;
				}

				&__Signs {
					left: 0;
					top: 0;
					min-width: 200px;
					width: 52%;
				}

				&__DuckRadio {
					right: -100px;
					bottom: 0;
					height: 80%;
				}

				&__PaperSide {
					bottom: 0;
					left: 66%;
					transform: translate(-50%, 0);
					width: 50%;
					min-width: 180px;
				}

				&__DuckPhone {
					left: -100;
					bottom: 0;
					height: 475px;
					max-height: 85%;
				}

				&__Signature {
					left: 0;
					top: 20%;
					width: 150px;
				}

				&__Files {
					bottom: 0;
					left: 45%;
					transform: translate(-50%, 0);
					min-width: 180px;
					width: 60%;
				}

				&__PlaneRight {
					top: 15%;
					left: 15%;
					min-width: 60px;
					width: 15%;
					max-width: 118px;
					animation: rightFlyPlane 4s linear 2s infinite;
				}

				&__PlaneLeft {
					top: 55%;
					left: 50%;
					min-width: 100px;
					width: 18%;
					max-width: 373px;
				}
			}
		}


		@include media-breakpoint-up('sm') {
			h1 {
				font-size: 6em;
			}

			.FloatImg {
				// &__PaperNotes {
				// }

				// &__Signs {
				// }

				&__DuckRadio {
					right: 0;
				}

				&__PaperSide {
					left: 53%;
				}

				&__DuckPhone {
					left: 0;
				}

				// &__Signature {
				// 	left: 0;
				// }

				// &__Files {
				// 	bottom: 0;
				// }

				&__PlaneRight {
					left: 31%;
				}

				// &__PlaneLeft {
				// 	left: 31%;
				// }
			}
		}
		@include media-breakpoint-up('md') {
			h1 {
				font-size: 6em;
			}

			.FloatImg {
				// &__PaperNotes {
				// }

				&__Signs {
					width: 42%;
				}

				&__DuckRadio {
					max-height: 103%;
				}

				&__PaperSide {
					left: 56%;
					max-width: 405px;
				}

				&__DuckPhone {
				}

				// &__Signature {
				// 	left: 0;
				// }

				&__Files {
					width: 53%;
				}

				// &__PlaneRight {
				// 	top: 15%;
				// }

				// &__PlaneLeft {
				// 	top: 35%;
				// }
			}
		}
		@include media-breakpoint-up('lg') {


			.FloatImg {
				// &__PaperNotes {
				// }

				&__Signs {
					width: 39%;
				}

				&__DuckRadio {
					height: 600px;
				}

				&__PaperSide {
					max-width: 550px;
					left: initial;
					right: 205px;
					transform: translate(0, 0);
				}

				&__DuckPhone {
					height: 83%;
				}

				// &__Signature {
				// 	left: 0;
				// }

				&__Files {
					max-width: 620px;
				}

				// &__PlaneRight {
				// 	top: 15%;
				// }

				&__PlaneLeft {
					top: 35%;
				}
			}
		}
		// @include media-breakpoint-up('xl') {


		// 	.FloatImg {
		// 		// &__PaperNotes {
		// 		// }

		// 		// &__Signs {
		// 		// }

		// 		// &__DuckRadio {
		// 		// }

		// 		// &__PaperSide {
		// 		// }

		// 		// &__DuckPhone {
		// 		// 	left: 0;
		// 		// }

		// 		// &__Signature {
		// 		// 	left: 0;
		// 		// }

		// 		// &__Files {
		// 		// 	bottom: 0;
		// 		// }

		// 		&__PlaneRight {
		// 			top: 15%;
		// 		}

		// 		&__PlaneLeft {
		// 			top: 35%;
		// 		}
		// 	}
		// }
		// @include media-breakpoint-up('xxl') {


		// 	.FloatImg {
		// 		// &__PaperNotes {
		// 		// }

		// 		// &__Signs {
		// 		// }

		// 		// &__DuckRadio {
		// 		// }

		// 		// &__PaperSide {
		// 		// }

		// 		// &__DuckPhone {
		// 		// 	left: 0;
		// 		// }

		// 		// &__Signature {
		// 		// 	left: 0;
		// 		// }

		// 		// &__Files {
		// 		// 	bottom: 0;
		// 		// }

		// 		// &__PlaneRight {
		// 		// 	top: 15%;
		// 		// }

		// 		// &__PlaneLeft {
		// 		// 	top: 35%;
		// 		// }
		// 	}
		// }

	}
	&-teammates {
		@include media-breakpoint-up('lg') {
			.sqs-block.button-block.sqs-block-button {
				height: 0;
				padding-top: 0;
				padding-bottom: 0;
			}

			a.sqs-block-button-element {
				transform: translate(0,-90px);
			}
		}

		@include media-breakpoint-up('xl') {
			a.sqs-block-button-element {
				transform: translate(0,-220px);
			}
		}
	}
}

@keyframes rightFlyPlane {
	0% {
		transform:translate(0,0);
	}

	5% {
		transform: translate(7vw, 15px) rotate(-20deg);
	}

	75% {
		transform: translate(90vw, 200px) rotate(-30deg);
	}

	75.1% {
		transform: translate(-30vw, -200px) rotate(30deg);
	}

	83% {
		transform: translate(-20vw, -134px) rotate(10deg);
	}

	91% {
		transform: translate(-10vw, -68px) rotate(-10deg);
	}

	100% {
		transform: translate(0,0);
	}
}
