<footer class="footer px-15-px pb-5">
	<div class="backtotop js--backtotop">^ back to top</div>
	<div class="gCol-12 footer-pre flex-row py-3">
		{% include "../pre-footer/_newsletter-subscribe.njk" %}
	</div>
	<div class="footer-menu gCol-12 pt-5 pb-3">
		<div class="footer-logo pl-0">
			<a href="{{ headerEl.logo.link }}">
				{% if headerEl.logo.useSvg %}
					<img src="{{ headerEl.logo.svg }}" alt="{{ headerEl.logo.altText }}" />
				{% endif %}
			</a>
		</div>
	</div>
	<div class="gCol-12 gCol-sm-6-start py-3">
		<ul class="social flex-row list-reset">
			<li class="social item">
				<a href="https://twitter.com/UnlikelyIT" target="_blank" rel="noopenner nofollow noreferrer"><b>Twitter</b></a>
			</li>
		</ul>
	</div>
	<div class="gCol-12 gCol-sm-6-end py-3 text-right">
		<p>Always know that help is just an <a href="mailto:help@unlikelyit.com">email</a> away</p>
	</div>
</footer>
