{% import '../templates/parts/header/_header.njk' as header %}
{% import '../templates/parts/cards/_card.njk' as card %}

{# Here we can see Variables declared that are accessible across
	all templates #}
{# {% set g = {} %}
{% set g_title = siteTitle %} #}

{% block html %}
{% endblock %}